@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body{
/* background: linear-gradient(135deg, #0f2027, #203a43, #2c5364); */
background: #1C1C1C;
color: white;
}







